$icons: (
	  sprite: (width: 51px, height: 26px, svgPath: '../img/sprite.svg'),
 	ico-panel-burger: (width: 15.11px, height: 12.899999999999999px, backgroundX: -25.17px, backgroundY: 0px),
 	ico-panel-refresh: (width: 15.170000000000002px, height: 15.25px, backgroundX: 0px, backgroundY: 0px),
);
